[[extend 'layout.html']]

<div class="section">
  <a class="button is-primary" href="[[=URL('index')]]">
    <span class="icon"><i class="fa fa-list"></i></span>
    <span>Events</span>
  </a>

  <a class="button is-success" href="[[=URL('add')]]">
    <span class="icon"><i class="fa fa-plus"></i></span>
    <span>Add Event</span>
  </a>

  <a class="button is-warning" href="[[=URL('myevents')]]">
    <span class="icon"><i class="fa fa-edit"></i></span>
    <span>Edit My Events</span>
  </a>

    <div class="container my-4">
        <h1 class="title">Your Event</h1>
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Host</th>
        <th>Event Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Price</th>
        <th>Created By</th>
        <th>Creation Date</th>
      </tr>
      <tr>
        <td>[[=event.host]]</td>
        <td>[[=event.event_name]]</td>
        <td>[[=event.location]]</td>
        <td>[[=event.description]]</td>
        <td>[[=event.price]]</td>
        <td>[[=event.created_by]]</td>
        <td>[[=event.creation_date]]</td>
      </tr>
    </table>
        </div>

  <div class="container">
      <h1 class="title">Attendees</h1>
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      [[for row in rows:]]
      <tr>
        <td>[[=row.first_name]]</td>
        <td>[[=row.last_name]]</td>
      </tr>
      [[pass]]
    </table>
  </div>
</div>