[[extend 'layout.html']]
  <!--  body START -->
  <body>
    <section class="section">
        <a class="button is-primary" href="[[=URL('index')]]">
            <span class="icon"><i class="fa fa-list"></i></span>
            <span>Events</span>
        </a>
        <a class="button is-success" href="[[=URL('add')]]">
            <span class="icon"><i class="fa fa-plus"></i></span>
            <span>Add Event</span>
        </a>
        <a class="button is-warning" href="[[=URL('myevents')]]">
            <span class="icon"><i class="fa fa-edit"></i></span>
            <span>Edit My Events</span>
        </a>
      <div class="columns block is-mobile mt-3">
        <div class="column is-3">
          <div class="box">
            <h2 class="subtitle">
              Saved Parties
            </h2>
              [[for a in attending:]]
                  <div class="card mb-3">
                      <div class="card-header">
                          <div class="card-header-title">
                              [[=a.event_name]]
                          </div>
                      </div>
                      <div class="card-image">
                        <figure class="image">
                          <img src="mosh_logo.png" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="content">
                          <div class="columns">
                              <div class="column">
                                  [[=a.location]]
                              </div>
                              <div class="column">
                                  [[=a.date]]
                                  [[=a.time]]
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
              [[pass]]
          </div>
        </div>

        <div class="column is-6">
          <div class="box">
            <h2 class="subtitle">
              New Parties
            </h2>
            <!-- MAIN FEED -->
            <div class="section pt-0">
              <div class="container">
                  [[for row in rows:]]
                  <div class="card mb-3">
                      <div class="card-header">
                          <div class="card-header-title">
                              [[=row.event_name]]
                          </div>
                      </div>
                      <div class="card-image">
                        <figure class="image">
                          
                          <!-- <img src="mosh_logo.png" alt="Placeholder image"> -->
                          <!-- [[=row.image]] -->

                          <img src="{{=URL('default', 'download1', args=picture_name)}}" />

                          <img  src="{{=URL('download2', args=pic)}}" />

                          <!-- <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                          <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
                          <p><img id="output" width="200" /></p>

                          <script>
                          var loadFile = function(event) {
                            var image = document.getElementById('output');
                            image.src = URL.createObjectURL(event.target.files[0]);
                          };
                          </script> -->

                        </figure>
                      </div>
                      <div class="card-content">
                        <div class="content">
                          <div class="columns">
                              <div class="column">
                                  <span class="icon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                  </span>
                                  [[=row.location]]
                              </div>
                              <div class="column">
                                  [[=row.when]]
                              </div>
                              <div class="column">
                                  <span class="icon">
                                    <i class="fa fa-glass" aria-hidden="true"></i>
                                  </span>
                                  Substances
                              </div>
                              <div class="column">
                                  [[if row.price == 0:]]
                                    Free
                                  [[else:]]
                                    $[[=row.price]]
                                  [[pass]]
                                  <span class="icon">
                                    <i class="fa fa-ticket" aria-hidden="true"></i>
                                  </span>
                              </div>
                          </div>
                            <p class="mt-1">[[=row.description]]</p>
                            <a class="button is-primary is-fullwidth" href="[[=URL('attend', row.id)]]">
                                Attend
                            </a>
                            <a class="button is-primary is-half" href="[[=URL('message', row.id)]]">
                                Message
                            </a>
                        </div>
                      </div>
                    </div>
                  [[pass]]
              </div>
            </div>
          </div>
        </div>

        <div class="column is-3">
          <div class="box">
            <h2 class="subtitle">
              Messages
            </h2>
                <!-- Loop over messages -->
            <div class="card mb-3"> <!-- Begin message card-->
              <div class="card-header">
                <div class="card-header-subtitle">
                    <!-- label message by recipient -->
                </div>
              </div>
              <!-- Reply button-->
            </div> <!-- End message card-->
            [[pass]]
          </div>
        </div>
      </div>
    </section>